body{
    margin: 0;
    font-family: lato, sans-serif;
}

h1{
    color: #3c3c3c;
    font-family: bebas neue, sans-serif;
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 0;
    margin-top: 200px;
    margin-bottom: 0;
    line-height: 85px;
}

h2{
    color: #3c3c3c;
    font-family: bebas neue, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 120px;
}

h3{
    color: #3c3c3c;
    font-family: bebas neue, sans-serif;
    font-size: 35px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #3c3c3c;
}

p{
    font-size: 20px;
    margin-bottom: 50px;
    color: #3c3c3c;

}
section{
    height: 500px;
    padding-bottom: 100px;
}

.nav-div{
    background-color: white;
    float: right;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 80px;
}

.nav-link{
    color: #3c3c3c;
    text-decoration:none;
    padding: 0 20px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 20px;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.name-highlight{
    color: #ff8979;
}
.image-link{
    padding: 15px 50px;
    background-image: linear-gradient(45deg, #ff8979, #f66559);
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}

.top-right-image{
    width:100%;
}

.left-photo{
    width: 100%;
}

.project-area{
    background-color: #f7f8fb;;
    height: 650px;
}

.project-title{
    text-align: center;
    padding: 75px;
}

.prject-box{
    width: 25%;
    height: 50%;
    float: left;
    padding: 20px 15px;
    margin-left: 35px;
    background: #ffffff;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prject-image img{
    width: 100%;

}

.project-content h3{
    font-size: 26px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #3c3c3c;
}

.chat-bg-image{
    background-image: url("images/bg-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    margin: 200px 100px;
    border-radius: 30px;
}

.project-left{
    float: left;
    width: 70%;
    height: 200px;
}
    
.project-inq h4{
    font-family: bebas neue, sans-serif;
    font-size: 40px;
    margin-left: 50px;
    margin-top: -20px;
    color: #ffffff;
    text-transform: uppercase;
}
    
.project-right{
    float: right;
    width: 20%;
    height: 200px;
}

.footer-content{
    text-align: center;
    line-height: 10px;
}

.icons{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;

}

.icons li img{
    width: 35px;
    margin-right: 10px;
}

.footer{
    margin-top: 25px;

}